.Botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
}

.Botao a{
    text-decoration: none;
    color: #FFF;
    font-size: 0.875rem;
}

.Botao:hover{
    transform: translate(0, -0.2rem);
    transition: transform 0.5s ease-in-out;
    background-color: var(--cor-secundaria);
}

.projectbutton{
    background-color: #FFF0;
    border: 1px var(--cor-primaria) solid;
    border-radius: 20px;
    width: 5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: background-color 0.5s ease;
}

.projectbutton:hover{
    background-color: var(--cor-primaria);
    color: #FFF;
}

.selected{
    background-color: var(--cor-primaria);
    color: #FFF;
}

.BotaoSFundo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF0;
    border: 1px solid var(--cor-primaria);
    width: 13rem;
    height: 3rem;
    border-radius: 5px;
}

.BotaoSFundo{
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 0.875rem
}

.buttons{
    display: flex;
    gap: var(--gap-padrao);
}

.BotaoSFundo:hover{
    background-color: var(--cor-primaria);
    color: #FFF;
    transition: background-color 0.5s ease;
}