.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'section'
        'footer';    
}

section{
    grid-area: 'section';
}

footer{
    grid-area: 'footer';
}
