body{
    background-color: var(--fundo-claro);
}

.container{
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'content'
        'footer';
}

.contactContent{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
            "page-title page-title"
            "form conteudo"
}

.content{
    display: grid;
    grid-area: content;
    row-gap: 0;
    background-color: var(--fundo-claro);
    padding-top: 0rem;
    margin-top: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: form;
    padding-left: 2rem;
    background-color: var(--fundo-branco);
    box-shadow: 5px 5px 10px rgba(147, 146, 146, 0.2);
    border-radius: 10px;
    margin: 0 2rem 2rem 2rem;
}

.page-title{
    grid-area: page-title;
    margin: 0 2.5rem;
    display: flex;
    align-items: flex-start;
}

.form p{
    margin: 2px;
}

.nome, .email, .assunto, .mensagem{
    display: flex;
    flex-direction: column;
}

#submitButton, #select, #email, #nome, #mensagem{
    flex-grow: 1;
    max-height: max-content;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 4px;
    border: 1px solid var(--texto-cinza);
}

#submitButton{
    background-color: var(--cor-primaria);
    color: #FFF;
    border: none;
}

.conteudo{
    grid-area: conteudo;
}

.conteudo p, .conteudo h3{
    margin: 0;
    padding: 2px;
}

.campos{
    margin: 2rem;
}

